{{template "header-editor" .}}


<!-- Page Menu -->
<div class="container">
  <div id="main-body">

      <div id="app-wrap">
        <div id="app-controls" class="row">

          <div class="col-xs-4 col-sm-3 col-md-3">
            <input {{if .Dict}}readonly{{end}} id="page-name" type="text" class="form-control input-sm" name="name" placeholder="記事のタイトルを入力" value="{{.Name}}" />
          </div>

          <div class="col-xs-4 col-sm-3 col-md-3">
            <input id="page-yomi" type="text" class="form-control input-sm" name="yomi" placeholder="{{.Name}}のよみがなを入力" value="{{.Yomi}}" />
          </div>

          <div class="col-xs-4 col-sm-3 col-md-3 hide-mobile">
            <input id="page-message" type="text" class="form-control input-sm" name="page-message" placeholder="編集コメントを入力" value="" />
          </div>

          <div class="col-xs-4 col-sm-3 col-md-3 text-right">

            {{if false}}
            <div class="dropdown btn-group">
              <button id="theme-list-btn" type="button"
                      class="dropdown-toggle btn btn-default btn-sm"
                      data-toggle="dropdown" title="Change Theme">
                <i class="fa fa-paint-brush"></i>
                <span class="hidden-xs">テーマ <i class="fa fa-caret-down"></i></span>
              </button>
              <ul id="theme-list" class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="theme-list">
                <li><a tabindex="-1" href="#" data-value="chrome" >Chrome</a></li>
                <li><a tabindex="-1" href="#" data-value="clouds" >Clouds</a></li>
                <li><a tabindex="-1" href="#" data-value="clouds_midnight" >Clouds Midnight</a></li>
                <li><a tabindex="-1" href="#" data-value="cobalt" >Cobalt</a></li>
                <li><a tabindex="-1" href="#" data-value="crimson_editor" >Crimson Editor</a></li>
                <li><a tabindex="-1" href="#" data-value="dawn" class="selected">Dawn</a></li>
                <li><a tabindex="-1" href="#" data-value="dreamweaver" >Dreamweaver</a></li>
                <li><a tabindex="-1" href="#" data-value="eclipse" >Eclipse</a></li>
                <li><a tabindex="-1" href="#" data-value="idle_fingers" >idleFingers</a></li>
                <li><a tabindex="-1" href="#" data-value="kr_theme" >krTheme</a></li>
                <li><a tabindex="-1" href="#" data-value="merbivore" >Merbivore</a></li>
                <li><a tabindex="-1" href="#" data-value="merbivore_soft" >Merbivore Soft</a></li>
                <li><a tabindex="-1" href="#" data-value="mono_industrial" >Mono Industrial</a></li>
                <li><a tabindex="-1" href="#" data-value="monokai" >Monokai</a></li>
                <li><a tabindex="-1" href="#" data-value="pastel_on_dark">Pastel on Dark</a></li>
                <li><a tabindex="-1" href="#" data-value="solarized_dark" >Solarized Dark</a></li>
                <li><a tabindex="-1" href="#" data-value="solarized_light" >Solarized Light</a></li>
                <li><a tabindex="-1" href="#" data-value="textmate" >TextMate</a></li>
                <li><a tabindex="-1" href="#" data-value="tomorrow" >Tomorrow</a></li>
                <li><a tabindex="-1" href="#" data-value="tomorrow_night">Tomorrow Night</a></li>
                <li><a tabindex="-1" href="#" data-value="tomorrow_night_blue" >Tomorrow Night Blue</a></li>
                <li><a tabindex="-1" href="#" data-value="tomorrow_night_bright" >Tomorrow Night Bright</a></li>
                <li><a tabindex="-1" href="#" data-value="tomorrow_night_eighties" >Tomorrow Night 80s</a></li>
                <li><a tabindex="-1" href="#" data-value="twilight" >Twilight</a></li>
                <li><a tabindex="-1" href="#" data-value="vibrant_ink" >Vibrant Ink</a></li>
              </ul>
            </div>
            {{end}}

            <div id='dict-category' class="dropdown btn-group">
              <input id='page-category' type='hidden' name='category'
                     value='{{if .Category}}{{.Category.ID}}{{else}}1{{end}}'
              />

              <button class="btn btn-{{if .Category}}info{{else}}default{{end}} btn-sm dropdown-toggle"
                      type="button" id="editor-categories"
                      data-toggle="dropdown" title="Category">
                <i class="fa fa-archive"></i>
                <span class="hidden-xs">{{if .Category}}{{.Category.Name}}{{else}}カテゴリー{{end}} <i class="fa fa-caret-down"></i></span>
              </button>

              <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="editor-categories">
                {{range $i, $c := .Categories}}
                  <li role="presentation">
                    <a role="menuitem" tabindex="-1" href="#" id="choice-{{$c.Prefix}}" data-id='{{$c.ID}}'> {{$c.Name}}</a>
                  </li>
                {{end}}
                <li class="divider"></li>
                <li role="presentation">
                  <a role="menuitem" tabindex="-1" href="#" id="remove-category" data-id='1'> カテゴリー解除</a>
                </li>
              </ul>
            </div>

            <div class="btn-group">
                <a id="submit-btn" class="btn btn-primary btn-sm">
                  <i class="fa fa-save"></i>
                  <span class="hidden-xs">公開する</span>
                </a>
            </div>

            {{if false}}
            <div class="dropdown btn-group">
              <button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="editor-actions"
                      data-toggle="dropdown" title="Actions">
                <i class="fa fa-save"></i>
                <span class="hidden-xs">公開する <i class="fa fa-caret-down"></i></span>
              </button>

              <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="editor-actions">
                <li role="presentation">
                  <a role="menuitem" tabindex="-1" href="#" id="discard-draft-btn">下書きを保存</a>
                </li>
                <li role="presentation">
                  <a role="menuitem" tabindex="-1" href="#" id="delete-page-btn">ページを削除</a>
                </li>
                <li role="presentation">
                  <a role="menuitem" tabindex="-1" href="#" id="submit-btn">公開する</a>
                </li>
              </ul>
            </div>
            {{end}}

          </div>
        </div>

        <section class="entry-markdown active">
          <header class="floatingheader" id="entry-markdown-header">
            <small>Markdown <i data-toggle="modal" data-target=".markdown-help-modal-lg" class="fa fa-question-circle pointer"></i></small>
            <a class="markdown-help" href=""><span class="hidden">What is Markdown?</span></a>
          </header>
          <section id="entry-markdown-content" class="entry-markdown-content">
            <div id="editor-{{.Name}}" data-submitbtn='submit-btn' data-themeselect="theme-list" data-mode="markdown"
              data-preview="preview" class="editor">{{.Content}}</div>
          </section>
        </section>

        <section class="entry-preview">
          <header class="floatingheader" id="entry-preview-header">
            <small>Preview</small>
          </header>
          <section class="entry-preview-content">
            <div id="preview"></div>
          </section>
        </section>

      </div>
  </div>
</div>

<div class="modal fade markdown-help-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        記法一覧
      </div>
      <div class="modal-body">
        <section class="markdown-help-container">
            <table class="table">
                <thead>
                <tr>
                    <th>プレビュー</th>
                    <th>記法</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><strong>大文字</strong></td>
                    <td>**大文字**</td>
                </tr>
                <tr>
                    <td><em>斜体文字</em></td>
                    <td>*斜体文字*</td>
                </tr>
                <tr>
                    <td><del>打ち消し線</del></td>
                    <td>~~打ち消し線~~</td>
                </tr>
                <tr>
                    <td><a href="#">リンク</a></td>
                    <td>[title](http://)</td>
                </tr>
                <tr>
                    <td>画像</td>
                    <td>![alt](http://)</td>
                </tr>
                <tr>
                    <td>リスト１</td>
                    <td>* item</td>
                </tr>
                <tr>
                    <td>リスト２</td>
                    <td>- item</td>
                </tr>
                <tr>
                    <td>引用</td>
                    <td>> quote</td>
                </tr>
                <tr>
                    <td>大見出し</td>
                    <td># Heading</td>
                </tr>
                <tr>
                    <td>中見出し</td>
                    <td>## Heading</td>
                </tr>
                <tr>
                    <td>小見出し</td>
                    <td>### Heading</td>
                </tr>
                <tr>
                    <td><mark>ハイライト</mark></td>
                    <td>==ハイライト==</td>
                </tr>
                <tr>
                    <td><code>インラインコード</code></td>
                    <td>`インラインコード`</td>
                </tr>
                <tr>
                    <td><pre>コード</pre></td>
                    <td>```<br/>コード<br/>```</td>
                </tr>
                </tbody>
            </table>
            For further Markdown syntax reference: <a href="http://support.ghost.org/markdown-guide/" target="_blank">Markdown Documentation</a>
        </section>
      </div>
    </div>
  </div>
</div>

{{template "footer-editor" .}}
{{template "script-editor" .}}
<script data-ace-base="src" charset="utf-8" src='/static/vendor/store-js/store.js'></script>
<script data-ace-base="src" charset="utf-8" src='/static/vendor/bootbox/bootbox.js'></script>
<script data-ace-base="src" charset="utf-8" src='/static/vendor/ace-builds/src/ace.js'></script>
<script data-ace-base="src" charset="utf-8" src='/static/vendor/ace-builds/src/mode-markdown.js'></script>
<script data-ace-base="src" charset="utf-8" src='/static/vendor/ace-builds/src/ext-keybinding_menu.js'></script>
<script data-ace-base="src" charset="utf-8" src='/static/vendor/keymaster/keymaster.js'></script>
<script data-ace-base="src" charset="utf-8" src='/static/js/aced.js'></script>
<script>
  var Commit = {};
  {{if .Commit}}
  Commit.info = {
    'author': '{{.Commit.Author.Name}}',
    'message': '{{.Commit.Message}}',
    'sha': '{{.Commit.TreeId}}',
    'time': '{{.Commit.Author.When|toUnix}}',
    'type': 'add'
  };
  {{else}}
  Commit.info = {};
  {{end}}
</script>
<script src='/static/js/editor.js'></script>
<script src="https://togetherjs.com/togetherjs-min.js"></script>
