<h2>History for <strong>{{ .Name }}</strong></h2>
<p>
  <a class="btn btn-default btn-sm compare-revisions">Compare Revisions</a>
</p>

<table class="table table-bordered revision-tbl">
  <thead>
  <tr>
    <th></th>
    <th>Name</th>
    <th>Revision Message</th>
    <th>Date</th>
  </tr>
  </thead>
  {{range $i, $h := .History}}
    {{/*
      <tr>
        <td class="checkbox-cell text-center">
          {{if ne h.Type 'delete'}}
            <input type="checkbox" name="versions[]" value="{{ h.Sha }}" />
          {{end}}
        </td>
        <td>{{ h.author }}</td>
        <td><a href="{{ url_for('wiki.commit', name=name, sha=h.Sha) }}" class='label label-primary'>View</a> {{ h.message }} </td>
        <td>{{ h.time|datetime }}</td>
      </tr>
    */}}
  {{end}}
</table>
<p>
  <a class="btn btn-default btn-sm compare-revisions">Compare Revisions</a>
</p>
