{{template "header-editor" .}}

<!-- Page Menu -->
<div class="container">
  <div id="main-body">
      <div class='alert alert-primary'>
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      </div>

      <h2><strong>{{ .Name }}</strong>の編集履歴</h2>
      <p>
        <a class="btn btn-default btn-sm compare-revisions">チェックした記事同士の比較</a>
      </p>

      <table class="table table-bordered revision-tbl">
        <thead>
        <tr>
          <th></th>
          <th>編集者</th>
          <th>編集コメント</th>
          <th>日付</th>
        </tr>
        </thead>
        {{$list := toList .History}}
        {{range $list}}
          <tr>
            <td class="checkbox-cell text-center">
              <input type="checkbox" name="versions" value="{{.Id}}" />
            </td>
            <td>{{.Author.Name}}</td>
            <td><a href="{{.Id.String}}" class='label label-primary'>View</a> {{.Message}} </td>
            <td>
              {{timeSince .Author.When}}
            </td>
          </tr>
        {{end}}
      </table>
      <p>
        <a class="btn btn-default btn-sm compare-revisions">チェックした記事同士の比較</a>
      </p>

  </div>
</div>

{{template "footer-editor" .}}
{{template "script-editor" .}}

<script>
  $(function(){
    $('.revision-tbl :checkbox').change(function () {
      var $cs = $(this).closest('.revision-tbl').find(':checkbox:checked'),
          $diffBtn = $(".compare-revisions");

      if ($cs.length > 2) {
        this.checked = false;
      }

      if ($cs.length >= 2) {
        $diffBtn.removeClass('btn-default').addClass('btn-info');
      } else {
        $diffBtn.removeClass('btn-info').addClass('btn-default');
      }
    });

    $(".compare-revisions").click(function(){
      var $cs = $('.revision-tbl').find(':checkbox:checked');
      if ($cs.length != 2) return;
      var revs = [];
      $.each($cs, function(i, v){
        revs.push(v.value);
      });
      revs.reverse();
      revs = revs.join("..");
      location.href = "/d/compare/{{.Name}}/" + revs;
    });
  });
</script>
