{{template "header" .}}

<!-- =============== BEGIN #page ==============================-->
<div id="page">
  <!-- =========== PAGE HEADER ON ALL BUT INDEX PAGES =========================================================================== --> 
  <!-- _________ Page Header ___________ -->
  <div class="page-header-primary">
    <div class="container">
      <h2>Sign Up</h2>
      <ol class="breadcrumb page-header-breadcrumb hidden-xs">
        <li><a href="index.html" class="link-underline">Home</a></li>
        <li class="active">Sign Up</li>
      </ol>
    </div>
    <!-- /.container (for page-header-primary) -->
  </div>
  <!-- /.page-header-primary --> 
  <!-- =========== BEGIN CONTENT FOR THE PAGE =========================================================================== -->
  <div class="page-content" role="main">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h3>Sign Up with...</h3>
          <ul class="list-unstyled social-user">
            <li><a href="#" title="Signup with Facebook" class="facebook"><i class="fa fa-facebook"></i>
              <span>
                Signup with Facebook
              </span>
              </a></li>
            <li><a href="#" title="Signup with Google Plus" class="google"><i class="fa fa-google-plus"></i>
              <span>
                Signup with Google
              </span>
              </a></li>
            <li><a href="#" title="Signup with Twitter" class="twitter"><i class="fa fa-twitter"></i>
              <span>
                Signup with Twitter
              </span>
              </a></li>
            <li><a href="#" title="Signup with Wordpress" class="wordpress"><i class="fa fa-wordpress"></i>
              <span>
                Signup with Wordpress
              </span>
              </a></li>
          </ul>
          <!-- /.social-user -->
        </div>
        <!-- /.col-*-6 -->
        <div class="col-md-6">
          <h3>Sign Up</h3>
          <form role="form" action="your-script.php">
            <div class="form-group">
              <input type="email" class="form-control form-control-lg" placeholder="Enter email">
            </div>
            <div class="form-group">
              <input type="password" class="form-control form-control-lg" placeholder="Password">
            </div>
            <p class="text-center">
              <button class="btn btn-default btn-block btn-lg btn-inverse" type="submit"><i class="fa fa-lock"></i> Register</button>
            </p>
          </form>
          <p class="text-center clear">Already have an account? <a class="link-underline" href="login.html">Login</a></p>
        </div>
        <!-- /.col-*-6 -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </div>
  <!-- /.page-content role=main --> 
  <!--=========== END CONTENT FOR THE PAGE ============================================================ -->
</div>
<!-- ================== END #page ================= --> 

<!-- _________ GO TO TOP ___________ --> 
<a id="go-to-top" href="#top" title="up"> <i class="ti ti-arrow-up"></i> </a> 

{{template "footer" .}}
{{template "script" .}}
