<!-- ================== FOOTER ================= -->
<footer class="footer">
  <div class="footer-column-wrapper">
    <div class="container">
      <div class="row footer-row equal-height-col">
        <div class="col-sm-5 col-md-3 footer-col">
          <h4 class="footer-title">サービス一覧</h4>
          <ul class="social-icon-list">
            <li>
              <a target='_blank' href="http://r-18.org/" data-hover="tooltip" data-placement="top" data-original-title="アンテナサイト">
                <img src="http://r-18.org/static/img/siteicon-white/favicon-32x32.png" />
              </a>
            </li>
            <li>
              <a target='_blank' href="http://book.r-18.org" data-hover="tooltip" data-placement="top" data-original-title="画像サイト">
                <img src="http://book.r-18.org/static/img/book/siteicon/favicon-32x32.png" />
              </a>
            </li>
            <li>
              <a target='_blank' href="http://video.r-18.org" data-hover="tooltip" data-placement="top" data-original-title="動画サイト">
                <img src="http://video.r-18.org/static/img/video/siteicon/favicon-32x32.png" />
              </a>
            </li>
          </ul>
        </div>
        <!-- /.col-sm-5 .col-md-3 footer-col -->
        <div class="col-sm-7 col-md-9 footer-col">
          <h4 class="footer-title">About Us</h4>
          <p>There’s a lot written about immortal robot bodies and how they’re the new rage. Religion can’t provide immortal robot bodies. Flying heads in bubbles are also becoming popular. The cost of preserving a head is much less than the entire body and at least you can keep your face. But with the immortal robot, after you die, your soul or spirit is digitized and your flesh body rots, but you don’t care, ‘cause having an immortal robot body is ultra cool and sexy. While you’re still on earth, your immortal robot body sits in storage ready for the fateful day. No, it doesn’t act like Dorian Gray, keeping you ageless and that kind of thing, but it does provide a great feeling of peace of mind.</p>
        </div>
        <!-- /.col-sm-7 col-md-9 footer-col-->
      </div>
      <!--/.row .footer-row-->
      <div class="row footer-row equal-height-col">
        <!-- ::info:: this is equal heights with jQuery -->
        <div class="col-sm-4 footer-col">
          <h4 class="footer-title">Stay Updated</h4>
          <p>Sign up for our newsletter. We won't share your email address.</p>
          <form action="yourscript.php" method="post">
            <div class="input-group">
              <input class="form-control form-control-footer" placeholder="Your@EmailAddress.com" type="email">
              <span class="input-group-btn">
                <button type="submit" class="btn btn-footer">Sign Up</button>
              </span>
              <!--/.input-group-btn-->
            </div>
          </form>
        </div>
        <!-- /.col-sm-4 footer-col-->
        <div class="col-sm-8 footer-col">
          <h4 class="footer-title">Latest Stuff</h4>
          <div class="img-widget fade-hover-img">
            <a href="#"><img src="/assets/demo-images/img-widget/1.jpg" alt="" /></a> <a href="#"><img src="/assets/demo-images/img-widget/2.jpg" alt="" /></a> <a href="#"><img src="/assets/demo-images/img-widget/3.jpg" alt="" /></a> <a href="#"><img src="/assets/demo-images/img-widget/4.jpg" alt="" /></a> <a href="#"><img src="/assets/demo-images/img-widget/5.jpg" alt="" /></a> <a href="#"><img src="/assets/demo-images/img-widget/6.jpg" alt="" /></a> <a href="#"><img src="/assets/demo-images/img-widget/7.jpg" alt="" /></a> <a href="#"><img src="/assets/demo-images/img-widget/8.jpg" alt="" /></a> <a href="#"><img src="/assets/demo-images/img-widget/9.jpg" alt="" /></a> <a href="#"><img src="/assets/demo-images/img-widget/10.jpg" alt="" /></a>
          </div>
          <!--/.img-widget-->
        </div>
        <!-- /.col-sm-8 footer-col-->
      </div>
      <!--/.row .footer-row -->
    </div>
    <!--/.container -->
  </div>
  <!--/.footer-column-wrapper -->
  <div class="footer-copyright">
    <div class="container">
      <p class="no-margin">&copy; Copyright 2014-{{datenow "2006"}} {{.Meta.Copyright}}. All rights reserved.
        <a class="link-underline" href='{{urlFor "abouts_sitemap"}}'>Site Map</a>
      </p>
    </div>
  </div>
  <!--/.footer-copyright-->
</footer>
<!-- ================== /.END footer ================= -->
