<!-- Fixed navbar -->
<div class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">site title</a>
    </div>
    <div class="navbar-collapse collapse navbar-inverse-collapse">
      <ul class="nav navbar-nav">
          <li><a href='{{urlFor "index"}}'><i class="fa fa-list"></i> Index</a></li>
          <li><a href='{{urlFor "new"}}'><i class="fa fa-plus"></i> New</a></li>
          {{range $k, $v := .Params}}
            {{if eq $k "name"}}
              <li><a href='{{urlFor "edit" $v}}'><i class="fa fa-pencil"></i> Edit</a></li>
              <li><a href='{{urlFor "history" $v}}'><i class="fa fa-clock-o"></i> History</a></li>
            {{end}}
          {{end}}
      </ul>

    </div><!--/.nav-collapse -->
  </div>
</div>
