<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Based</title>

    <link rel="shortcut icon" href="#" />

    <link href="/static/vendor/bootswatch-dist/css/bootstrap.css" rel="stylesheet" />
    <link href="/static/vendor/components-font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="/static/vendor/highlightjs/styles/github.css" rel="stylesheet" />
    <link href="/static/vendor/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet" />
    <link href="/static/css/style.css" rel="stylesheet" />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="/static/js/html5shiv.js"></script>
      <script src="/static/js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    {{yield}}

  </body>
</html>
