<!DOCTYPE html>
<!--[if lte IE 8 ]> <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]> <html class="no-js ie9" lang="en"> <![endif]-->
<!--[if (gte IE 10)|!(IE)]><!-->
<html class="no-js" lang="ja">
<!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>{{.Meta.AppName}}</title>
  <meta name="keywords" content="{{.Meta.Keywords}}" />
  <meta name="description" content="{{.Meta.Description}}" />

  <link rel="apple-touch-icon" sizes="57x57" href="/static/img/siteicon/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/static/img/siteicon/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/static/img/siteicon/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/static/img/siteicon/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/static/img/siteicon/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/static/img/siteicon/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/static/img/siteicon/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/static/img/siteicon/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/static/img/siteicon/apple-touch-icon-180x180.png">
  <link rel="shortcut icon" type="image/png" href="/static/img/siteicon/favicon-32x32.png" />
  <link rel="icon" type="image/png" href="/static/img/siteicon/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/static/img/siteicon/android-chrome-192x192.png" sizes="192x192">
  <link rel="icon" type="image/png" href="/static/img/siteicon/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="/static/img/siteicon/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="/static/img/siteicon/manifest.json">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-TileImage" content="/static/img/siteicon/mstile-144x144.png">
  <meta name="theme-color" content="#ffffff">

  <!-- BASE CSS ============================================== -->
  <!-- custom build of latest bootstrap see json or follow the link in the file ============================================== -->
  <link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  
  <!-- ASSET CSS (if you are on a secure server remove the http: but not the // it won't work local but will work for both http and httpS ============================================== -->
  <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="/assets/css/theme-assets.min.css" rel="stylesheet" type="text/css">
  
  <!-- LOGO FONT, replace with your own ============================================== -->
  <link href="/assets/css/logo-font.css" rel="stylesheet" type="text/css">
  
  <!-- THEME CSS (unminified TOC version w/purchase) ============================================== -->
  <link href="/assets/css/theme-min.css" rel="stylesheet" type="text/css">

  <link href="/static/css/bookmarkhub.css" rel="stylesheet" type="text/css" />
  
  <!-- SCRIPTS IN HEAD ============================================== -->
  <script src="/assets/js/modernizr.2.8.3.js"></script>

 
  <!--[if lt IE 9]>
    <script src="/assets/js/respond.min.js"></script>
  <![endif]-->
  
  <!-- jQuery library ============================================== -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script>
   if (!window.jQuery) {
       document.write('<script src="/assets/js/jquery-1.11.1.min.js"><\/script>');
   }
   </script>
  
  <!-- WINDOWS 8 Phones BUG FIX -->
  <script src="/assets/js/windows-fix.js"></script>

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="/static/js/html5shiv.js"></script>
    <script src="/static/js/respond.min.js"></script>
  <![endif]-->
</head>
<body>

<!-- +++++ No Script Fallback notice +++++ -->
<noscript>
<div>
  Turn on your JavaScript!
</div>
</noscript>
<!-- accessibility skip to nav skip content -->
<ul class="sr-only" id="top">
  <li><a href="#nav" title="Skip to navigation" accesskey="n">Skip to Navigation</a></li>
  <li><a href="#page" title="Skip to content" accesskey="c">Skip to Content</a></li>
</ul>
<!--  /.sr-only accessibility--> 

{{yield}}

</body>
</html>
