<script type="text/javascript" >
  var Config = {};
  Config.RELATIVE_PATH = "/_d";

  var User = {};
  User.is_authenticated = false;
  User.username = "Anon";
  User.email = "";
</script>
<script type="text/javascript" src="/static/vendor/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="/static/vendor/components-bootstrap/js/bootstrap.js"></script>
<script type="text/javascript" src="/static/vendor/handlebars/handlebars.js"></script>
<script type="text/javascript" src="/static/vendor/js-yaml/dist/js-yaml.js"></script>
<script type="text/javascript" src="/static/vendor/marked/lib/marked.js"></script>
<script type="text/javascript" src="/static/js/html-sanitizer-minified.js"></script>
<script type="text/javascript" src="/static/vendor/highlightjs/highlight.pack.js"></script>
<script type="text/javascript" src="/static/vendor/parsleyjs/dist/parsley.js"></script>
<script type="text/javascript" src="/static/vendor/datatables/media/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="/static/vendor/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.js"></script>
<script type="text/javascript" src="/static/js/hbs-helpers.js"></script>
<script type="text/javascript" src="/static/js/mdr.js"></script>
<script type="text/javascript" src="/static/js/main.js"></script>
